html, body, ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0D1A1B;
    color: #e3e1e1;
    font-family: 'Libre Baskerville', serif;

    min-height: 100vh;
}

header {
    background-image: url("../images/bookshelf.png"); 
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 200px; 
    width: 100%;
}

.header-title {
    margin: 0;
    width: 90%;
    
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
}

main {
    width: 100%;
    flex-grow: 1;
}

.main, 
.book-list,
.form-book,
.footer,
.filters {
    margin: 0 auto;
    width: 90%;
}

body,
.main, 
.intro-section,
.intro__text,
.form-book {
    display: flex;
    flex-direction: column;
}

.intro__text_paragraph {
    font-size: 1rem;
}

.header-title,
.intro__text_paragraph,
.footer {
    text-align: center;
}

.form--book__label {
    padding-bottom: 1rem;
}

.form--book__input {
    color: #e3e1e1;

    border: none;
    font-family: 'Libre Baskerville', serif;
    padding: 10px 20px;
}

.form--book__message {
    color: tomato;
    font-size: 0.8rem;
    margin: .5rem 0 1rem 0;
}

.book-list {
    color: #e3e1e1;
    list-style-type: none;

    height: 200px; 
    overflow: auto;
}

.book-list  li {
    border-bottom: 1px solid #e3e1e1;
    font-size: .8rem;

    margin: 0;
    padding: 10px 20px;
}

.book-list,
.form--book__input,
.filters,
.filters button  {
    background-color: #1B3739;
}

.form-book,
.book-list,
.footer {
    margin-top: 2rem;
}

.trashbin-icon,
.done-icon,
.read-icon,
.filters  button:hover {
    cursor: pointer;
}

.filters {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    align-items: center;
    
    height: 50px; 
}

.filters__form {
    text-align: center;
}

.filters__btn {
    width: 100%;
    
    border: none;
    color: #e3e1e1;
    font-weight: bolder;
}

.filters__btn:hover {
    color: #2EC6A6;
}

.filters__btn--active {
    color: #2EC6A6;
}

.footer {
    bottom: 0;
}


@media screen and (min-width: 768px) {

    .header-title,
    .intro__text_paragraph {
        text-align: left;
    }

    .intro__text {
        margin: 0 auto;
    }

    .intro__text,
    .form-book,
    .book-list,
    .filters {
        width: 70%;
    }
}

@media screen and (min-width: 900px) {
    .intro__text,
    .form-book,
    .book-list,
    .filters {
        width: 50%;
    }

    .header-title {
        width: 45%;
    }
}