html, body, ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FDFDFD;
    font-family: 'Libre Baskerville', serif;
}

header, main {
    width: 100%;
}

.logo {
    height: 100px;
    width: 100px;

    margin-left: 2rem;
}

.main, 
.book-list,
.form-book,
.footer,
.filters {
    margin: 0 auto;
    width: 90%;
}

.main, 
.intro-section,
.intro__text,
.form-book {
    display: flex;
    flex-direction: column;
}

.intro__text__title {
    font-size: 1.75rem;
    font-weight: 700;
}

.intro__text_paragraph {
    font-size: 1rem;
}

.intro__text__title,
.intro__text_paragraph,
.footer {
    text-align: center;
}

.book-list {
    list-style-type: none;
}

@media screen and (min-width: 768px) {

    .intro__text__title,
    .intro__text_paragraph {
        text-align: left;
    }
}
