html, body, ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0D1A1B;
    font-family: 'Libre Baskerville', serif;
}

header {
    height: 200px; 
    width: 100%;
    background-image: url("../images/bookshelf.png"); 
    background-size: cover;
    background-position: center;
    
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.header-title {
    margin: 0;
    width: 90%;
    
    color: #e3e1e1;
    font-size: 1.75rem;
    font-weight: 700;
}

main {
    width: 100%;
}

.main, 
.book-list,
.form-book,
.footer,
.filters {
    margin: 0 auto;
    width: 90%;
}

.main, 
.intro-section,
.intro__text,
.form-book {
    display: flex;
    flex-direction: column;
}


.intro__text_paragraph {
    font-size: 1rem;
}

.header-title,
.intro__text_paragraph,
.footer {
    text-align: center;
}

.book-list {
    background-color: #1B3739;
    color: #e3e1e1;
    list-style-type: none;

    height: 200px; 
    overflow: auto;
}

.form-book,
.book-list,
.filters,
.footer {
    margin-top: 2rem;
}

.filters {
    display: flex;  
}

.footer {
    bottom: 0;
}


@media screen and (min-width: 768px) {

    .header-title,
    .intro__text_paragraph {
        text-align: left;
    }

    .intro__text {
        margin: 0 auto;
    }

    .intro__text,
    .form-book,
    .book-list,
    .filters {
        width: 70%;
    }
}

@media screen and (min-width: 900px) {
    .intro__text,
    .form-book,
    .book-list,
    .filters {
        width: 50%;
    }
}