<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../public/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/global.css">
    <title>Reading Shelf</title>
</head>
<body>
    <header>
        <h1 class="header-title">Reading Shelf</h1>
    </header>

    <main class="main">
        <section class="intro-section">
            <div class="intro__text">
                <p class="intro__text_paragraph">Life's too short to miss out on great reads.</p>
            </div>

            <form class="form-book" action="/" method="POST">
                <label class="form--book__label" for="input-book">Add a book to read:</label>
                <input class="form--book__input" placeholder="e.g. The Bell Jar - Sylvia Plath" id="input-book" name="item" required></input>
                <span class="form--book__message" class="errorMessage"><%= errorMessage %></span>
            </form>
        </section>

        <% if (items.length > 0) { %>
            <ul class="book-list">
                <% items.forEach(item => { %>
                    <li 
                    contenteditable="true"
                    data-itemid="<%= item.id%>" >
                    <%= item.content %>
                    
                    <img class="trashbin-icon" data-itemdelete="delete" src="../public/images/icon-trash.svg" alt="Delete book"/>
                    
                    <% if (item.active === false) { %>
                        <img class="done-icon" data-itemdone="done" src="../public/images/done-read.svg" alt="Done reading icon"/>
                        <% }  else { %>
                            <img class="read-icon" data-itemread="read" src="../public/images/icon-read.svg" alt="Mark as read"/>
                            <% } %>
                            
                        </li>
                        <% }); %>
                    </ul>
                    <% } %>
                    
                    <nav class="filters">
                        <form action="/" method="GET">
                            <button id="allItems" type="submit">All</button>
                        </form>
                        
                        <form action="/filter-read" method="POST">
                            <button id="read-button" type="submit">Read</button>
                        </form>
                        
                        <form action="/filter-to-read" method="POST">
                            <button id="toRead-button" type="submit">To Read</button>
                        </form>
                    </nav>
    </main>

    <footer class="footer">
        <p>Made with ❤️ by Carol Nikolic</p>
    </footer>

    <script type="module" src="./src/functions/main.js"></script>
</body>
</html>