<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../public/images/favicon.ico">
    <title>Reading Shelf</title>
</head>
<body>
    <header>
        <img src="../public/images/logo.svg" alt="reading Shelf Logo">
    </header>
    <main>
        <section>
            <div>
                <h1>Books to Read Before You Die</h1>
                <p>Life's too short to miss out on great reads.</p>
            </div>

            <form action="/" method="POST">
                <label for="input-book">Add a book to read:</label>
                <input placeholder="e.g. The Bell Jar - Sylvia Plath" id="input-book" name="item" required></input>
            </form>
    
            <span class="errorMessage"><%= errorMessage %></span>
        </section>

        <section>
            <div>
                <% if (items.length > 0) { %>
                    <ul>
                        <% items.forEach(item => { %>
                            <li 
                            contenteditable="true"
                            data-itemid="<%= item.id%>" >
                                    <%= item.content %>
                                
                                <img class="test" data-itemdelete="delete" src="../public/images/icon-trash.svg" alt="Delete book"/>
                                
                                <% if (item.active === false) { %>
                                    <img data-itemdone="done" src="../public/images/done-read.svg" alt="Done reading icon"/>
                                <% }  else { %>
                                    <img data-itemread="read" src="../public/images/icon-read.svg" alt="Mark as read"/>
                                <% } %>
                                
                            </li>
                        <% }); %>
                    </ul>
                <% } %>
            </div>

            <nav>
                <ul>
                    <li><button type="submit">All</button></li>
                    <li><button type="submit">Read</button></li>
                    <li><button type="submit">To Read</button></li>
                </ul>
                
            </nav>
        </section>
    </main>

    <footer>
        <p>Made with ❤️ by Carol Nikolic</p>
    </footer>

    <script type="module" src="./src/functions/main.js"></script>
</body>
</html>