<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../public/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/global.css">
    <title>Reading Shelf</title>
</head>
<body>
    <header>
        <img class="logo" src="../public/images/logo.svg" alt="reading Shelf Logo">
    </header>
    <main class="main-position main-organization">
        <section class="intro-section">
            <div class="intro__text">
                <h1>Books to Read Before You Die</h1>
                <p>Life's too short to miss out on great reads.</p>
            </div>

            <form class="form-book" action="/" method="POST">
                <label for="input-book">Add a book to read:</label>
                <input placeholder="e.g. The Bell Jar - Sylvia Plath" id="input-book" name="item" required></input>
                <span class="errorMessage"><%= errorMessage %></span>
            </form>
        </section>

        <section>
                <% if (items.length > 0) { %>
                    <ul>
                        <% items.forEach(item => { %>
                            <li 
                            contenteditable="true"
                            data-itemid="<%= item.id%>" >
                                    <%= item.content %>
                                
                                <img class="test" data-itemdelete="delete" src="../public/images/icon-trash.svg" alt="Delete book"/>
                                
                                <% if (item.active === false) { %>
                                    <img data-itemdone="done" src="../public/images/done-read.svg" alt="Done reading icon"/>
                                <% }  else { %>
                                    <img data-itemread="read" src="../public/images/icon-read.svg" alt="Mark as read"/>
                                <% } %>
                                
                            </li>
                        <% }); %>
                    </ul>
                <% } %>

            <nav>
                <ul>
                    <form action="/" method="GET">
                        <li><button id="allItems" type="submit">All</button></li>
                    </form>

                    <form action="/filter-read" method="POST">
                        <li><button id="read-button" type="submit">Read</button></li>
                    </form>

                    <form action="/filter-to-read" method="POST">
                        <li><button id="toRead-button" type="submit">To Read</button></li>
                    </form>
                </ul>
                
            </nav>
        </section>
    </main>

    <footer class="footer-position ">
        <p>Made with ❤️ by Carol Nikolic</p>
    </footer>

    <script type="module" src="./src/functions/main.js"></script>
</body>
</html>