<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
</head>
<body>
    <main>
        <form action="/" method="POST">
            <input placeholder="I need to..." name="item" required></input>
        </form>

        <span class="errorMessage"><%= errorMessage %></span>

        <% if (items.length > 0) { %>
            <ul>
                <% items.forEach(item => { %>
                    <li 
                    contenteditable="true"
                    data-itemid="<%= item.id%>" >
                        <input 
                        type="checkbox">
                            <%= item.content %>
                        </input>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </main>

    <script type="module" src="./src/functions/main.js"></script>
</body>
</html>